html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}
#header{
    background-color: #dcdcdc;
    color: #b91be5;
    padding-top: 15px;
    margin-bottom: 15px;
}

#depts {
    overflow-y: auto;
    height: 15%;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    padding: 5px;
    line-height: 1;
}
th {
    cursor: pointer;
}
#loading {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: #0000007d;
    display: none;
}
#loadingimg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
tbody tr {
    padding: 5px;
    border-bottom: 0.5px solid gray;
}

td button {
    margin: 5px;
}
#classlist {
    width: 100%;
}
#app {
    padding-bottom: 10%;
}
#activitylabel {
    position: fixed;
    width: 100%;
    height: 30px;
    overflow-y: hidden;
    background-color: #b91be5;
    border-top: 1px solid black;
    bottom: 8%;
    padding: 3px;
}
#activity {
    position: fixed;
    width: 100%;
    height: 8%;
    overflow-y: auto;
    background-color: #dcdcdc;
    bottom: 0px;
    padding: 3px
}
#activitylist {
    list-style: none;
}
