<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/search.css"/>
        <link rel="stylesheet" href="css/normalize.css"/>
        <link rel="stylesheet" href="css/skeleton.css"/>
        <script type="application/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
    </head>
    <body v-on:load="app.getUser()">
		<div id="loading"><img id="loadingimg" src="img/loading.gif" /></div>
        <div class="row">
            <div class="twelve columns">
                <center><img src="img/murphy.jpg" alt="Welcome to Murphy Online!!"></center>
            </div>
        </div>
        <div class="row">
            <div id="header" class="twelve columns">
                <center><h2>Course Search</h2></center>
            </div>
        </div>
        <div id="app" class="row">
            <div class="eight columns offset-by-two">
                <label for="departments">DEPARTMENTS</label>
                <!--<select class="u-full-width" id="departments" v-model="req_departments" style="height:100px" multiple>
                    <option v-bind:value="dept.subject" v-for="dept in departments" >{{ dept.full_name }}</option>
                </select>-->
		<div id="depts" v-if="loaded === true">
		<div v-for="dept in departments">
			<input type="checkbox" id="departments" v-bind:value="dept.subject" v-model="req_departments">{{ dept.full_name }} 	{{ dept.subject }}</input>		
		</div></div>
                <label id="coursenumberlabel" for="coursenumber">COURSE NUMBER</label>
                <input class="u-full-width" type="text" placeholder="e.g. 131" id="coursenumber" v-model="req_coursenumber">
                    
                <label id="crnlabel" for="crn">CRN</label>
                <input class="u-full-width" type="number" placeholder="213423" id="crn" v-model="req_crn">
                
                <button type="button" v-on:click="app.getCourses()" class="button-primary">Search</button>
				<span v-if="profile.position === 'STUDENT'">
                <button type="button" v-on:click="app.hideSchedule()" class="button" v-if="showSchedule">Hide Schedule</button>
				<button type="button"  v-on:click="app.getSchedule()" class="button" v-else>Show Schedule</button>
				</span>
                <div id="schedule" class="u-full-width" style="display: none">
					<table style="width:100%">
						<tr>
							<th>Monday</th>
							<th>Tuesday</th>
							<th>Wednesday</th>
							<th>Thursday</th>
							<th>Friday</th>
						</tr>
						<tr>
							<td id="mon"></td>
							<td id="tue"></td>
							<td id="wed"></td>
							<td id="thu"></td>
							<td id="fri"></td>
						</tr>
					</table>

				</div>
				<label id="errormessage" style="color: red" value=""></label>
                <table id="classList">
                    <tr>
                        <th @click="app.sortRows('crn')" style="padding-left: 5px">CRN</th>
                        <th @click="app.sortRows('subject')">Course Number</th>
                        <th @click="app.sortRows('building')">Location</th>
                        <th @click="app.sortRows('professors')">Professor</th>
                        <th @click="app.sortRows('times')">Time</th>
                        <th @click="app.sortRows('capacity')">Capacity</th>
						<th>Register/Drop</th>
                    </tr>
                    <tbody>
                        <template v-for="(course, index) in sortedCourses" :key="index">
                            <tr v-bind:id="course.crn">
                                <td style="padding-left: 5px" @click.stop="rowClicked(index)">{{ course.crn }}</td>
                                <td @click.stop="rowClicked(index)">{{ course.subject }} {{ course.course_number }}-{{ course.section_number }}</td>
                                <td @click.stop="rowClicked(index)">{{ course.building }} {{ course.room }} </td>
                                <td @click.stop="rowClicked(index)">{{ course.professors }}</td>
                                <td @click.stop="rowClicked(index)">{{ course.times }}</td>
                                <td @click.stop="rowClicked(index)">{{ app.getNumber(course.registered) }}/{{ course.capacity }}</td>
                                <td v-if="profile.position === 'STUDENT' && checkProfile(course) === 'DROP'"><button @click="dropClass(course.crn)">Drop</button></td>
                                <td v-else-if="profile.position === 'STUDENT' && checkProfile(course) === 'REG'"><button @click="registerClass(course.crn,course.capacity)">Register</button></td>
                                <td v-else-if="profile.position === 'STUDENT' && checkProfile(course) === 'WAIT'"><button @click="dropClass(course.crn)">Drop (Waitlist)</button></td>
                                <td v-else-if="profile.position === 'STUDENT' && checkProfile(course) === 'TIME'" style="color: red">Time Conflict</td>
                                <td v-bind:id="'roster'+course.crn" v-else-if="profile.position === 'FACULTY'"><button @click="viewClass(course.crn,course.capacity)">View Class</button></td>
                            </tr>
                            <tr v-if="index === clickedRow">
                                <td colspan="7">
                                    <p><big>{{ course.name }}</big></p>
                                    <p><i>{{ course.credits}} Credits</i></p>
                                    <p>{{ course.description }}</p></td>
                            </tr>
                        </template>
                        <tr>
                            <td colspan="7" v-if="courses==''">
                                <i>No Courses Available</i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script type="text/javascript" src="js/search.js"></script>
    </body>
</html>
